.Wrapper {
    padding-inline: 200px;
    padding-block: 20px;
}

@media (max-width: 1200px) {
    .Wrapper {
        padding-inline: 150px;
    }
}

@media (max-width: 900px) {
    .Wrapper {
        padding-inline: 100px;
    }
}

@media (max-width: 650px) {
    .Wrapper {
        padding-inline: 50px;
    }
}

@media (max-width: 450px) {
    .Wrapper {
        padding-inline: 20px;
    }
}