.Content {
    text-align: center;
    margin-block: 10px;
}

.Content h6 {
    font-weight: 800;
    font-size: 50px;
    color: gold;
}

@media (max-width: 1200px) {
    .Content h6 {
        font-size: 35px;
    }
}

@media (max-width: 900px) {
    .Content h6 {
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    .Content h6 {
        font-size: 15px;
    }
}